In [83]:
#importar librerias
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings('ignore')

In [84]:
#lectura de datos
#rutas
movies_df_filepath = os.path.abspath("datos/movies_original.csv")
ratings_df_filepath = os.path.abspath("datos/ratings_original.csv")
poster_df_filepath = os.path.abspath("datos/MovieGenre.csv")
 
#carga de datos
movies_df = pd.read_csv(movies_df_filepath)
ratings_df=pd.read_csv(ratings_df_filepath)
poster_df=pd.read_csv(poster_df_filepath, encoding='ISO-8859-1')

In [85]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [86]:
# Ajuste de datos 
movies_df['year'] = movies_df['title'].str.extract(r'(\(\d\d\d\d\))', expand=False)
print("extraer el año con parentesis", movies_df['year'])

# Quitar parentesis del año
movies_df['year'] = movies_df['year'].str.extract(r'(\d\d\d\d)', expand=False)
print("quitar parentesis del año", movies_df['year'])

movies_df['title'] = movies_df['title'].str.replace(r"\s+\(.*\)", "", regex=True)

extraer el año con parentesis 0        (1995)
1        (1995)
2        (1995)
3        (1995)
4        (1995)
          ...
34203    (1967)
34204    (2010)
34205    (2009)
34206    (2015)
34207    (1975)
Name: year, Length: 34208, dtype: object
quitar parentesis del año 0        1995
1        1995
2        1995
3        1995
4        1995
         ...
34203    1967
34204    2010
34205    2009
34206    2015
34207    1975
Name: year, Length: 34208, dtype: object

In [87]:
movies_df

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
34203,151697,Grand Slam,Thriller,1967
34204,151701,Bloodmoney,(no genres listed),2010
34205,151703,The Butterfly Circus,Drama,2009
34206,151709,Zero,Drama|Sci-Fi,2015
34207,151711,The 2000 Year Old Man,(no genres listed),1975

In [88]:
#Separar los valores de genero y generar un array 
movies_df['genres'] = movies_df['genres'].str.split('|')
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [89]:
#Copiar el marco de datos de una copia 
movies_co= movies_df.copy()

In [90]:
#colocar los valores de genero en la lista 1 y 0
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        movies_co.at[index, genre] = 1

In [91]:
#rellenar los valores NaN con 0
movies_co=movies_co.fillna(0)
movies_co

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34203,151697,Grand Slam,[Thriller],1967,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34204,151701,Bloodmoney,[(no genres listed)],2010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34205,151703,The Butterfly Circus,[Drama],2009,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34206,151709,Zero,"[Drama, Sci-Fi]",2015,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34207,151711,The 2000 Year Old Man,[(no genres listed)],1975,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [92]:
#mostramos el rating de las peliculas
print("rating",ratings_df.head())
#eliminar la columna timestamp
ratings_df=ratings_df.drop('timestamp',axis=1)
print("rating sin timestamp:\n",ratings_df.head())

rating    userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496
rating sin timestamp:
    userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

In [93]:
#definamos de forma constante las preferencias del usuario
usuario_en=[
    {'title':'Breakfast Club, The','rating':5},
    {'title':'Toy Story','rating':3.5},
    {'title':'Jumanji','rating':2},
    {'title':"Pulp Fiction",'rating':5},
    {'title':'Akira','rating':4.5}
]
#lo convertimos en un dataframne
entrada_peli = pd.DataFrame(usuario_en)
entrada_peli

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [94]:
#vamos a agregar el id a nuestras peliculas de entrada
Id = movies_df[movies_df['title'].isin(entrada_peli['title'].tolist())]
entrada_peli = pd.merge(Id, entrada_peli, how='inner', on='title', validate='many_to_many')
print("peliculas de entrada con el id:\n", entrada_peli.head())

peliculas de entrada con el id:
    movieId                title  \
0        1            Toy Story
1        2              Jumanji
2      296         Pulp Fiction
3     1274                Akira
4     1968  Breakfast Club, The

                                              genres  year  rating
0  [Adventure, Animation, Children, Comedy, Fantasy]  1995     3.5
1                     [Adventure, Children, Fantasy]  1995     2.0
2                   [Comedy, Crime, Drama, Thriller]  1994     5.0
3             [Action, Adventure, Animation, Sci-Fi]  1988     4.5
4                                    [Comedy, Drama]  1985     5.0

In [95]:
#Eliminamos informacion necesara
entrada_peli=entrada_peli.drop('genres',axis=1).drop('year',axis=1)
print("Ya con las columnas eliminadas",entrada_peli.head())

Ya con las columnas eliminadas    movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [96]:
#metodo  one hot encoding
peli_usuario=movies_co[movies_co['movieId'].isin(entrada_peli['movieId'].tolist())]
print("peliculas de usuario codificadas:\n", peli_usuario)

peliculas de usuario codificadas:
       movieId                title  \
0           1            Toy Story
1           2              Jumanji
293       296         Pulp Fiction
1246     1274                Akira
1885     1968  Breakfast Club, The

                                                 genres  year  Adventure  \
0     [Adventure, Animation, Children, Comedy, Fantasy]  1995        1.0
1                        [Adventure, Children, Fantasy]  1995        1.0
293                    [Comedy, Crime, Drama, Thriller]  1994        0.0
1246             [Action, Adventure, Animation, Sci-Fi]  1988        1.0
1885                                    [Comedy, Drama]  1985        0.0

      Animation  Children  Comedy  Fantasy  Romance  ...  Horror  Mystery  \
0           1.0       1.0     1.0      1.0      0.0  ...     0.0      0.0
1           0.0       1.0     0.0      1.0      0.0  ...     0.0      0.0
293         0.0       0.0     1.0      0.0      0.0  ...     0.0      0.0
1246        1.0       0.0     0.0      0.0      0.0  ...     0.0      0.0
1885        0.0       0.0     1.0      0.0      0.0  ...     0.0      0.0

      Sci-Fi  IMAX  Documentary  War  Musical  Western  Film-Noir  \
0        0.0   0.0          0.0  0.0      0.0      0.0        0.0
1        0.0   0.0          0.0  0.0      0.0      0.0        0.0
293      0.0   0.0          0.0  0.0      0.0      0.0        0.0
1246     1.0   0.0          0.0  0.0      0.0      0.0        0.0
1885     0.0   0.0          0.0  0.0      0.0      0.0        0.0

      (no genres listed)
0                    0.0
1                    0.0
293                  0.0
1246                 0.0
1885                 0.0

[5 rows x 24 columns]

In [97]:
#Seguimos limpiando
peli_usuario=peli_usuario.reset_index(drop=True)
tabla_generos=peli_usuario.drop('movieId',axis=1).drop('title',axis=1).drop('genres',axis=1).drop('year',axis=1)
print("tabla de generos: \n", tabla_generos)

tabla de generos:
    Adventure  Animation  Children  Comedy  Fantasy  Romance  Drama  Action  \
0        1.0        1.0       1.0     1.0      1.0      0.0    0.0     0.0
1        1.0        0.0       1.0     0.0      1.0      0.0    0.0     0.0
2        0.0        0.0       0.0     1.0      0.0      0.0    1.0     0.0
3        1.0        1.0       0.0     0.0      0.0      0.0    0.0     1.0
4        0.0        0.0       0.0     1.0      0.0      0.0    1.0     0.0

   Crime  Thriller  Horror  Mystery  Sci-Fi  IMAX  Documentary  War  Musical  \
0    0.0       0.0     0.0      0.0     0.0   0.0          0.0  0.0      0.0
1    0.0       0.0     0.0      0.0     0.0   0.0          0.0  0.0      0.0
2    1.0       1.0     0.0      0.0     0.0   0.0          0.0  0.0      0.0
3    0.0       0.0     0.0      0.0     1.0   0.0          0.0  0.0      0.0
4    0.0       0.0     0.0      0.0     0.0   0.0          0.0  0.0      0.0

   Western  Film-Noir  (no genres listed)
0      0.0        0.0                 0.0
1      0.0        0.0                 0.0
2      0.0        0.0                 0.0
3      0.0        0.0                 0.0
4      0.0        0.0                 0.0

In [98]:
#Hacer la matris de paso y utilizar la funcion hot
print("Tabla de generos transpuestas: \n",tabla_generos.transpose())
print("\n")
print("Datos para ver rating :",entrada_peli["rating"])

Tabla de generos transpuestas:
                       0    1    2    3    4
Adventure           1.0  1.0  0.0  1.0  0.0
Animation           1.0  0.0  0.0  1.0  0.0
Children            1.0  1.0  0.0  0.0  0.0
Comedy              1.0  0.0  1.0  0.0  1.0
Fantasy             1.0  1.0  0.0  0.0  0.0
Romance             0.0  0.0  0.0  0.0  0.0
Drama               0.0  0.0  1.0  0.0  1.0
Action              0.0  0.0  0.0  1.0  0.0
Crime               0.0  0.0  1.0  0.0  0.0
Thriller            0.0  0.0  1.0  0.0  0.0
Horror              0.0  0.0  0.0  0.0  0.0
Mystery             0.0  0.0  0.0  0.0  0.0
Sci-Fi              0.0  0.0  0.0  1.0  0.0
IMAX                0.0  0.0  0.0  0.0  0.0
Documentary         0.0  0.0  0.0  0.0  0.0
War                 0.0  0.0  0.0  0.0  0.0
Musical             0.0  0.0  0.0  0.0  0.0
Western             0.0  0.0  0.0  0.0  0.0
Film-Noir           0.0  0.0  0.0  0.0  0.0
(no genres listed)  0.0  0.0  0.0  0.0  0.0


Datos para ver rating : 0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [99]:
#uasamos dot
perfil_usu = tabla_generos.transpose().dot(entrada_peli["rating"])
print("Categoria que el usuario prefiere:", perfil_usu)

Categoria que el usuario prefiere: Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [100]:
#Mostramos tabla original de generos 
generos = movies_co.set_index('movieId')
generos

,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151697,Grand Slam,[Thriller],1967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151701,Bloodmoney,[(no genres listed)],2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
151703,The Butterfly Circus,[Drama],2009,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151709,Zero,"[Drama, Sci-Fi]",2015,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151711,The 2000 Year Old Man,[(no genres listed)],1975,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [101]:
#Mostrar informacion necesaria 
generos = generos.drop('title', axis=1).drop('genres', axis=1).drop('year', axis=1)
print("Generos", generos.head(20))
generos.shape

Generos          Adventure  Animation  Children  Comedy  Fantasy  Romance  Drama  \
movieId
1              1.0        1.0       1.0     1.0      1.0      0.0    0.0
2              1.0        0.0       1.0     0.0      1.0      0.0    0.0
3              0.0        0.0       0.0     1.0      0.0      1.0    0.0
4              0.0        0.0       0.0     1.0      0.0      1.0    1.0
5              0.0        0.0       0.0     1.0      0.0      0.0    0.0
6              0.0        0.0       0.0     0.0      0.0      0.0    0.0
7              0.0        0.0       0.0     1.0      0.0      1.0    0.0
8              1.0        0.0       1.0     0.0      0.0      0.0    0.0
9              0.0        0.0       0.0     0.0      0.0      0.0    0.0
10             1.0        0.0       0.0     0.0      0.0      0.0    0.0
11             0.0        0.0       0.0     1.0      0.0      1.0    1.0
12             0.0        0.0       0.0     1.0      0.0      0.0    0.0
13             1.0        1.0       1.0     0.0      0.0      0.0    0.0
14             0.0        0.0       0.0     0.0      0.0      0.0    1.0
15             1.0        0.0       0.0     0.0      0.0      1.0    0.0
16             0.0        0.0       0.0     0.0      0.0      0.0    1.0
17             0.0        0.0       0.0     0.0      0.0      1.0    1.0
18             0.0        0.0       0.0     1.0      0.0      0.0    0.0
19             0.0        0.0       0.0     1.0      0.0      0.0    0.0
20             0.0        0.0       0.0     1.0      0.0      0.0    1.0

         Action  Crime  Thriller  Horror  Mystery  Sci-Fi  IMAX  Documentary  \
movieId
1           0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
2           0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
3           0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
4           0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
5           0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
6           1.0    1.0       1.0     0.0      0.0     0.0   0.0          0.0
7           0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
8           0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
9           1.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
10          1.0    0.0       1.0     0.0      0.0     0.0   0.0          0.0
11          0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
12          0.0    0.0       0.0     1.0      0.0     0.0   0.0          0.0
13          0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
14          0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
15          1.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
16          0.0    1.0       0.0     0.0      0.0     0.0   0.0          0.0
17          0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
18          0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
19          0.0    0.0       0.0     0.0      0.0     0.0   0.0          0.0
20          1.0    1.0       1.0     0.0      0.0     0.0   0.0          0.0

         War  Musical  Western  Film-Noir  (no genres listed)
movieId
1        0.0      0.0      0.0        0.0                 0.0
2        0.0      0.0      0.0        0.0                 0.0
3        0.0      0.0      0.0        0.0                 0.0
4        0.0      0.0      0.0        0.0                 0.0
5        0.0      0.0      0.0        0.0                 0.0
6        0.0      0.0      0.0        0.0                 0.0
7        0.0      0.0      0.0        0.0                 0.0
8        0.0      0.0      0.0        0.0                 0.0
9        0.0      0.0      0.0        0.0                 0.0
10       0.0      0.0      0.0        0.0                 0.0
11       0.0      0.0      0.0        0.0                 0.0
12       0.0      0.0      0.0        0.0                 0.0
13       0.0      0.0      0.0        0.0                 0.0
14       0.0      0.0      0.0        0.0                 0.0
15       0.0      0.0      0.0        0.0                 0.0
16       0.0      0.0      0.0        0.0                 0.0
17       0.0      0.0      0.0        0.0                 0.0
18       0.0      0.0      0.0        0.0                 0.0
19       0.0      0.0      0.0        0.0                 0.0
20       0.0      0.0      0.0        0.0                 0.0

(34208, 20)

In [102]:
#ahota realizamos el promedio ponderado para recomendar 20 pelis de la bd
#y creamo ponderation cmo estructura del df
generos_reset = generos.reset_index()
recom = pd.DataFrame(generos_reset['movieId'])
recom['ponderations'] = (generos_reset.multiply(perfil_usu, axis=1).sum(axis=1)) / (perfil_usu.sum())
recom = pd.DataFrame(recom)
recom.head(20)

    movieId  ponderations
0         1      0.594406
1         2      0.293706
2         3      0.188811
3         4      0.328671
4         5      0.188811
5         6      0.202797
6         7      0.188811
7         8      0.216783
8         9      0.062937
9        10      0.272727
10       11      0.328671
11       12      0.188811
12       13      0.328671
13       14      0.139860
14       15      0.202797
15       16      0.209790
16       17      0.139860
17       18      0.188811
18       19      0.188811
19       20      0.531469

In [115]:
#Ordenamos tabla de ponderacion 
recom = recom.sort_values('ponderations', ascending=False)
recom = recom.head(20)

In [116]:
#tabla final d recom
movies_df.set_index('movieId')
recom.set_index('movieId')
 
movies_df_position=movies_df.join(recom,lsuffix='_key',on='movieId',how='inner',validate='many_to_many')
movies_df_position=movies_df_position.sort_values('ponderations',ascending=False)
movies_df_position.head(20)

,movieId_key,title,genres,year,movieId,ponderations
4828,4923,Guadalcanal Diary,"[Action, War]",1943,5018,0.748252
7923,8605,Taxi 3,"[Action, Comedy]",2003,26093,0.734266
6684,6793,Beethoven,"[Children, Comedy, Drama]",1992,6902,0.678322
2817,2902,Psycho II,"[Horror, Mystery, Thriller]",1983,2987,0.664336